.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.logo {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid white; 
}