.search {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

.search-input {
  width: 400px;
  height: 35px;
  border-radius: 15px;
  box-shadow: 0 0 5px white;
  padding: 10px;
}

.filter {
  width: 100px;
  margin: 5px;
}

.duration-filter {
  margin: 20px;
}